/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.right_inline {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0px;
  float:right;
}
.left_inline {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  float:left;
}
.scrollContainer {
  overflow: auto;
  background-color:white; 
  width: 800px; 
  height: 350px;
}
.middleText {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  white-space: pre; /*Delete it if you don't want to preserve white spaces */
}
.smallContainer{
  background-color:white; 
  width: 400px; 
  height: 400px;
  text-align: center;
}
.regForm {
  padding-left: 10px;
  padding-right: 10px;
}
.textAreaFill{
  width: 99%;
  height: 344px;
  border: none;
  resize: none;
  padding: 0px; 
}
.createCardTA{
  border: none;
  resize: none;
}
.jumbotron_colored {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #ddd;
}
.jumbotron_colored h1,
.jumbotron_colored .h1 {
  color: inherit;
}
.jumbotron_colored p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron_colored > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron_colored,
.container-fluid .jumbotron_colored {
  border-radius: 6px;
}
.jumbotron_colored .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron_colored {
    padding: 48px 0;
  }
  .container .jumbotron_colored,
  .container-fluid .jumbotron_colored {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron_colored h1,
  .jumbotron_colored .h1 {
    font-size: 63px;
  }
}
.editSetTA{
  resize: none;
}

.setedit-enabled .setedit-hidden,
.setedit-disabled .setedit-visible,
tr:last-child .setedit-delete {
  display: none;
}
.setedit-enabled #setedit-title {
  width: 50%;
}
.setedit-disabled #setedit-description {
  width: 100%;
}
.setedit-disabled .setedit-field {
  border: none;
  display: block;
  outline: none;
  resize: none;
}
.setedit-delete {
  line-height: inherit;
}
